/* THE 12 GRID TEMPLATE CSS SETTINGS DECLARED HERE */
*{box-sizing: border-box;}

body{
    margin: 0;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"]{
    float: left;
    border: 1px dashed grey
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
/* THE ORIGINAL STYLING STARTS FROM HERE */

/*
font-family: 'Roboto', sans-serif;
font-family: 'Droid Sans', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Kalam', cursive;
*/
.expandIcon{
    margin: 37px 20px 0 0;
    float: left;
}
.expandIcon i{
    font-size: 30px;
}
#logoBar{
    width: 100%;
    height:90px;
    padding: 0 130px;
    background-color: #410077;
    color: #fff;
}
.logoHolder{
    margin-top: 30px;
    float: left;
}
.logoHolder h1{
    font-family: 'Rubik';
    font-weight: 100;
    margin:0;
    float: left;
    padding:0 5px 2px;
    border: 2px solid;
    color: #fff;
}
.logoHolder h2{
    font-family: 'Rubik';
    font-weight: 100;
    margin:10px 0 0;
    float: left;
    padding: 5px 10px 5px 2px;
    line-height: 20px;
    background-color: #fff;
    color: #410077;
    border-bottom-right-radius: 5px;
}